.card-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.board-list {
    flex-basis: calc(33.33% - 10px);
    margin-bottom: 20px;
}

.board-content {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-body{
    height: 350px;
    width: auto;
    margin-outside: 10px;
}
.card-body:hover{
    color: #86b7fe;
}

.board-title{
    font-size: large;
}
.board-number{
    font-size: revert;
}
.contents{
    margin-top: 50px;
    margin-left: 40px;
}
.board-list{
    margin-left: 5px;
    margin-right: 5px;
}
.card{
    width: 350px;
}
.thumbnail{
    border: #86b7fe 1px solid;
    width: auto;
    height: 100px;
    margin-bottom: 10px;
}
a{
    color: black;
    text-decoration: none;
}
