<!DOCTYPE html>
<html lang="kr" xmlns:th=":http://www.thymeleaf.org">
    <!-- Navigation Bar -->
    <div th:fragment="navbar">
        <nav class="navbar navbar-expand-lg bg-light" >
            <div class="container-fluid">
                <a class="navbar-brand" th:href="@{/admin/userList}" >ADMIN6</a>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0" th:if="${session.principal == null}">
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/admin/login}">LOGIN</a>
                        </li>
                    </ul>
                    <span class="navbar-text" th:if="${session.principal == null}">
                        로그인하세요.
                    </span>

                    <ul class="navbar-nav me-auto mb-2 mb-lg-0" th:if="${session.principal != null}">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" th:href="@{/admin/userList}">USERS</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" th:href="@{/admin/boardList}">BOARDS</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/admin/reportList}">REPORTS</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" th:href="@{/admin/blacklist}">BLACKLISTS</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/admin/logout}">LOGOUT</a>
                        </li>
                    </ul>
                    <span class="navbar-text" th:if="${session.principal != null}">
                        강주희 길민준 최태윤 최해솔 @ 패스트캠퍼스BE05
                    </span>
                </div>
            </div>
        </nav>
    </div>
    <!-- Navigation Bar END -->
</html>