<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/board.css}"/>
</head>
<body>
<nav class="navbar navbar-expand-lg bg-light" style="background-color: #e3f2fd;">
    <div class="container-fluid">
        <ul class="nav justify-content-center">
        <a class="navbar-brand" href="#">게시글 목록</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">새싹게시판</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">우수게시판</a>
                </li>
            </ul>
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
        </ul>
    </div>
</nav>
<div id="contents" class="contents">
    <div class="card-grid">
        <div th:each="board, index : ${boardList}" class="board-list">
            <div class="card">
                <a th:href="@{'/boardDetail/' + ${board.id}}">
                <div class="card-body">
                        <div class="thumbnail">
                            <p th:text="${'썸네일입니다: ' + board.thumbnail}"></p>
                        </div>
                        <h3 class="board-number" th:text="${board.id +'번'}"></h3>
                        <h6 class="board-title" th:text="${'제목: '+ board.title}"></h6>
                        <p class="board-userId" th:text="${'아이디: ' + board.userId}"></p>
                        <p class="board-content" th:text="${'내용: ' + board.content}"></p>
                        <p class="board-creatAt" th:text="${'작성시간: ' + #temporals.format(board.createdAt, 'yyyy-MM-dd HH:mm')}"></p>
                </div>
                </a>
            </div>
        </div>
    </div>
</div>

</body>
</html>