<!DOCTYPE html>
<html lang="kr" xmlns:th=":http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>관리자 게시글 관리</title>
</head>
<body>

    <table class="tb_col">
        <tr>
            <td>작성자</td>
            <td>제목</td>
            <td>작성일시</td>
        </tr>

        <tr th:each="board : ${boardList}">
            <td th:text="${board.getNickname}"></td>
            <td th:text="${board.getTitle}"></td>
            <td th:text="${board.getCreatedAt}"></td>
            <form th:action="@{/admin/boardList/{id}/delete(id=${board.getId})}" method="GET">
                <td><button>삭제</button></td>
            </form>
        </tr>

    </table>


</body>
</html>