<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <!-- 썸머노트 스타일 시트 -->
    <link th:href="@{/css/bootstrap.min.css}" href="../../static/css/bootstrap.min.css" rel="stylesheet">
    <script type="text/javascript" th:src="@{/js/bootstrap.js}" src="../../static/js/bootstrap.min.js" defer></script>
</head>
<body>
<div class="container" th:object="${board}">
    <div class="row d-flex justify-content-center">
        <div class="col-md-10">
            <img th:src="@{*{thumbnail}}" class="card-img col-md-6" alt="thumbnail" src=""/>
            <h5 th:text="*{getTitle()}">Card title</h5>
            <p th:utext="*{getContent()}"></p>
        </div>
    </div>

    <div class="row d-flex justify-content-center mb-5">
        <div class="col-md-10">
            <form th:action="@{/board/{id}/comment(id=${board.id})}" method="post">
                <div class="form-outline w-100">
                    <label class="form-label" for="comment-add">댓글쓰기</label>
                    <textarea class="form-control" id="comment-add" name="content" rows="4"
                              style="background: #fff;"></textarea>
                </div>
                <div class="float-end mt-2 pt-1">
                    <button type="submit" class="btn btn-primary btn-sm">Post comment</button>
                </div>
            </form>
        </div>
    </div>

    <div class="row d-flex justify-content-center">
        <div class="col-md-10">
            <div class="card mb-3" th:each="comment : ${comments}">
                <div class="card-body">
                    <h5 class="card-title" th:text="${comment.user.nickname}">유저 닉네임</h5>
                    <p class="card-text" th:text="${comment.content}">부모 댓글 내용</p>
                    <button class="btn btn-primary" data-bs-toggle="collapse"
                            th:data-bs-target="'#replyBox' + ${comment.id}">답글 달기 토글
                    </button>
                    <div th:id="'replyBox' + ${comment.id}" class="collapse mt-3">
                        <form th:action="@{/board/{boardId}/comment/{commentId}(boardId=${board.id}, commentId=${comment.id})}"
                              method="post">
                            <!--                                <input type="hidden" name="parentId" th:value="${comment.id}">-->
                            <div class="input-group">
                                <input type="text" class="form-control" name="content" placeholder="답글을 입력하세요">
                                <button type="submit" class="btn btn-outline-secondary">답글 등록</button>
                            </div>
                        </form>
                    </div>
                    <div th:each="child : ${comment.children}">
                        <div class="card mb-3">
                            <div class="card-body">
                                <h5 class="card-title" th:text="${child.user.nickname}">유저 닉네임</h5>
                                <p class="card-text" th:text="${child.content}">대댓글 내용</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>

</body>
</html>